
<div  class ="col-6" style = "margin: 100px auto 100px auto ;">
<h2 style="text-align:center" class="text-white bg-dark" style="text-align:center;">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field  mb-2" style="  margin-left:250px;margin-right:300px;width:50%">
    <%= f.label :email ,class: "form-label text-white bg-dark" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control w-75"  %>
  </div>

 <div class="field  mb-2" style="  margin-left:250px;margin-right:300px;width:50%">
    <%= f.label :password ,class: "form-label text-white bg-dark" %>
    <% if @minimum_password_length %>
    <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control w-75" %>
  </div>

 <div class="field  mb-2" style="  margin-left:250px;margin-right:300px;width:50%">
    <%= f.label :password_confirmation ,class: "form-label text-white bg-dark"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control w-75"  %>
  </div>

  <div class="actions" style="  margin-left:250px;margin-right:300px;width:50%">
    <%= f.submit "Sign up" ,class: "btn btn-primary"%>
  </div>
<% end %>

<div style="margin-left:250px;margin-right:300px;width:50%">
<%= render "devise/shared/links" %>
</div>
</div>
